a{text-decoration:none;}
a strong{color:#ff00fd !important;}
input[type="submit"]{margin-left:50px;clear:both;cursor:pointer;color:#fff;font-weight:bold;background-image:linear-gradient(-169deg, #FF00FF 0%, #4A95FF 100%) !important;border-radius:100px;display:inline-block;margin-top:20px;}
form b,form strong{color:#7471fe;min-width:100px;display:inline-block;text-align:right;padding-right:20px}
form br{height:1px;overflow:hidden;}
h1.loginbaslik{display:block;width:300px;margin:20px auto;border-radius:300px;color:#ff00fd;position:relative;text-align:center;font-size:28px;}
div.kirmizi{color:#bf1414;background:#ff00000d;padding:20px 0;border-radius:3px;}
body{font-family:'varela_roundregular',sans-serif;padding:0;margin:0;background-image:linear-gradient(-180deg, #CCCBFF 0%, #F2ECFF 100%);}
html,body{min-height:100%;}
.wrapper{padding:40px 0;width:990px;margin:0 auto;overflow:hidden;}
#logo{width:150px;text-align:center;margin:0 auto;display:block;}
h1.asktesti{text-align:center;font-weight:normal;font-size:18px;padding-left:40px;margin-top:10px;}
h1.asktesti span{display:inline-block;padding:5px 30px;margin-left:-40px;transform:rotate(-20deg);background:#000000;color:#000000;border-radius:100px;}
.last{position:relative;left:-40px;margin-left:0;}
.content{padding:20px;margin-top:50px;font-size:16px;color:#16131d;text-align:justify;line-height:28px;background-color:#fff;border-radius:0 0 3px 3px;box-shadow:0px 0px 15px rgba(0,0,0,.1)}
.content strong,strong{color:#103cd4;}
.contentisim{padding:5px;margin-top:50px;font-size:16px;color:#7A8090;text-align:justify;line-height:28px;background-color:#fff;border-radius:0 0 3px 3px;box-shadow:0px 0px 15px rgba(0,0,0,.1)}
.contentisim strong,strong{color:#5f83ff;}
.form input{background:#FFFFFF;border:2px solid #C6C8FF;
border-radius:100px;padding:15px 30px;width:200px;font-family:'varela_roundregular',sans-serif;font-size:18px;outline:0;}
.whsag{width:320px;height:100px;float:right;position:relative;margin-top:-100px;top:20px;}
.wuoa{width:336px;height:280px;margin:0 auto;margin-top:15px;}
.form input:hover{border:2px solid #9598e2;}
.form input:focus{border:2px solid #9598e2;box-shadow:inset 0 2px 0 0 rgba(191,184,247,0.31);}
div.form{background-image:linear-gradient(-180deg, #F2ECFF 95%, #CCCBFF 150%);border:1px solid #979797;margin:0 auto;padding:30px;text-align:center;border:1px solid #e6e3ff;box-shadow:0px 0px 15px rgba(0,0,0,.1);background-repeat:no-repeat;background-position:center top;}
.button{clear:both;cursor:pointer;color:#fff;font-weight:bold;background-image:linear-gradient(-169deg, #FF00FF 0%, #4A95FF 100%) !important;border-radius:100px;margin-left:initial !important;display:inline-block;margin-top:20px;}
.posrel{position:relative;}
.posreltitle{padding:10px 30px;background:#FFFFFF;border:4px solid #D4D2FF;box-shadow:0 0 1px 2px #DBD9FF;border-radius:100px;}
::placeholder{color:#5F1281;opacity:1;}
:-ms-input-placeholder{color:#5F1281;}
::-ms-input-placeholder{color:#5F1281;}
.custombox{padding:20px;margin-top:30px;text-decoration:none;background-image:url(images/bg.png);font-size:16px;text-align:center;color:#7A8090;line-height:28px;background-color:#fff;border-radius:3px 3px 0 0;box-shadow:0px 0px 15px rgba(0,0,0,.1);width:270px;float:left;margin-right:30px;}
.nm{margin-right:0;}
.custombox:hover img{animation:rota 1s;}
@keyframes rota{from{transform:rotate(0deg);}
to{transform:rotate(40deg);}
}
div.content2{background-image:linear-gradient(-180deg, #ffffff 85%, #CCCBFF 150%);border:1px solid #979797;margin:0 auto;padding:40px;text-align:center;border:1px solid #e6e3ff;box-shadow:0px 0px 15px rgba(0,0,0,.1);background-repeat:no-repeat;background-position:center top;font-size:13px;color:#a499c1;line-height:22px;margin-top:30px;}
.custombox span{display:block;color:#6d76ff;margin-top:5px;}
.customface{background-image:linear-gradient(-180deg, #ffffff 85%, #CCCBFF 150%);border:1px solid #979797;
margin:0 auto;padding:40px;text-align:center;border:1px solid #e6e3ff;box-shadow:0px 0px 15px rgba(0,0,0,.1);
background-image:url(images/bgx.png);background-repeat:no-repeat;background-position:center top;font-size:13px;
background-color:#fff;color:#16131d;line-height:22px;margin-top:30px;}
.boxicon{height:90px;width:auto;display:inline-block;}
.footer{text-align:center;}
.footer ul li{display:inline-block;}
.footer ul li a{display:inline-block;background-image:url(images/heart.png);background-position:left center;background-repeat:no-repeat;line-height:28px;font-size:16px;margin:5px;background-size:15px;padding-left:25px;text-decoration:none;color:#5888ff;}
.afterlogin{}
a.kayitol{position:absolute;right:0px;top:90px;display:inline-block;background:#ffffff;padding:20px 40px;border-radius:100px;background-image:linear-gradient(-169deg, #FF00FF 0%, #4A95FF 100%);border-radius:100px;animation:kaydol 2s infinite;color:rgba(255,255,255,.8);text-decoration:none;}
a.kayitol:hover,a.girisyap:hover ,.classic:hover{background-image:none !important;background-color:#fff !important;color:#ff33ff;animation:none;}
a.girisyap{position:absolute;left:0px;top:90px;display:inline-block;background:#ffffff;padding:20px 40px;border-radius:100px;color:#5f83ff;text-decoration:none;}
.classic{display:inline-block;background:#ffffff;padding:15px;border-radius:100px;color:#5f83ff;text-decoration:none;font-size:13px;}
.aftersol{position:absolute;left:0px;top:90px;display:inline-block;border-radius:100px;color:#5f83ff;text-decoration:none;}
.cikis{background-color:#ff00ff !important;color:#fff !important;}
.aftersol .classic{margin-right:10px;}
.aftersag .classic{margin-left:10px;}
.aftersag{position:absolute;right:0px;top:90px;display:inline-block;border-radius:100px;color:#5f83ff;text-decoration:none;}
.nom{background-color:transparent;}
@keyframes kaydol1{from{background-position:0px 0px;background-image:linear-gradient(-169deg, #FF00FF 0%, #4A95FF 100%);}
to{background-position:0px 215px;background-image:linear-gradient(-300deg, #FF00FF 0%, #4A95FF 100%);}